:root {
  --primery-text-color: #757575;
  --headlines-text-color: #212121;
  --acent-text-color: #ffffff;
  --accent-color: #2196f3;
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --fooetr-bg-color: #2f303a;
  --hero-bg-color: rgba(47, 48, 58, 0.8);
  --portfolio-bg-color: rgba(33, 150, 243, 0.9);
  --logo-black-color: #000000;
  --icon-color: #afb1b8;
  --secondary-bg-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primery-bg-color);
  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* сброс */
.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* скрывает заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Шапка */
.logo {
  color: var(--accent-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
}
.sub-logo {
  color: var(--logo-black-color);
}

.header,
.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 80px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--headlines-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.address-nav {
  display: inline-flex;
  margin-left: auto;
}

.address-nav .link {
  display: inline-flex;
  align-items: center;

  color: var(--primery-text-color);

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-nav .link:not(:last-child) {
  margin-right: 30px;
}

.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.address-nav .icon {
  margin-right: 10px;
  fill: currentColor;
}

.address-nav .icon:hover,
.address-nav .icon:focus {
  fill: currentColor;
}

/* .address-nav .link:nth-child(1)::before {
  content: '';
  background-image: url(../img/email.svg);
  margin-right: 10px;
  width: 16px;
  height: 11px;
}

.address-nav .link:nth-child(2)::before {
  content: '';
  background-image: url(../img/phone.svg);
  margin-right: 10px;
  width: 10px;
  height: 15px;
} */

/* Тело */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  min-height: 600px;
  text-align: center;

  background-image: linear-gradient(var(--hero-bg-color), var(--hero-bg-color)),
    url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.title-hero {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--acent-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  cursor: pointer;

  color: var(--acent-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.title {
  color: var(--headlines-text-color);
}

.main-features {
  padding-top: 94px;
  /* padding-bottom: 94px; */
}

.features {
  display: flex;
  padding-bottom: 94px;
  border-bottom: 1px solid #ececec;
}

.features .item {
  width: 270px;
}

.features .item:not(:last-child) {
  margin-right: 30px;
}

.bg-icon {
  display: flex;
  background-color: var(--secondary-bg-color);
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

/* .features .item::before {
  display: block;
  content: '';
  background-color: var(--secondary-bg-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
} */

/* .features .item:nth-child(1)::before {
}
.features .item:nth-child(2)::before {
  background-image: url(../img/punctuality.svg);
}
.features .item:nth-child(3)::before {
  background-image: url(../img/planning.svg);
}
.features .item:nth-child(4)::before {
  background-image: url(../img/technologies.svg);
} */

.features .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}

.main-activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity {
  display: flex;
}

.activity > .item {
  position: relative;

  border-radius: 4px;
  overflow: hidden;
}

.activity .item:not(:last-child) {
  margin-right: 30px;
}

.activity-text {
  position: absolute;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
}

.text {
  color: var(--primery-text-color);
}

.worker {
  display: flex;
}

.worker > .item {
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.worker .item:not(:last-child) {
  margin-right: 30px;
}

.worker-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.worker .text {
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.worker .social {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social .link {
  display: block;
  height: 44px;
}

.social .item:not(:last-child) {
  margin-right: 10px;
}

.social .icon {
  fill: var(--icon-color);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .icon:hover,
.social .icon:focus {
  fill: var(--primery-bg-color);
  background-color: var(--accent-color);
  border-radius: 50%;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--secondary-bg-color);
}

.activity-text {
  width: 370px;

  color: var(--acent-text-color);
  background-color: var(--hero-bg-color);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.main-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client {
  display: flex;
  justify-content: space-between;
}

.client .link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  color: var(--icon-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client .link:hover,
.client .link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.client .icon {
  fill: currentColor;
}

.client .icon:hover,
.client .icon:focus {
  fill: currentColor;
}

/* Страница Портфолио */
.main-portfolio {
  padding-top: 93px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  cursor: pointer;

  color: var(--headlines-text-color);
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--acent-text-color);
  background-color: var(--accent-color);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: calc((100% - 60px) / 3);
  overflow: hidden;

  border-radius: 5px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio .item:hover,
.portfolio .item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.portfolio .content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.portfolio .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio .text {
  font-size: 16px;
  line-height: 1.87;
}

.portfolio .link {
  display: block;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--portfolio-bg-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .item:hover .overlay::after,
.portfolio .item:focus .overlay::after {
  transform: translateY(0);
}

.text-overlay {
  display: inline-block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 63px 24px;
  color: var(--acent-text-color);
  font-size: 18px;
  line-height: 1.56;
}

.portfolio .item:hover .text-overlay,
.portfolio .item:focus .text-overlay {
  transform: translateY(0);
  z-index: 3;
}

/* Футер */
.footer {
  background-color: var(--fooetr-bg-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-logo {
  color: var(--acent-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
}

.footer-text {
  margin-top: 10px;

  color: var(--acent-text-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-title {
  margin-bottom: 21px;

  color: var(--acent-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-p {
  padding-top: 10px;
}

.footer-address {
  color: var(--footer-address-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.join .list {
  display: flex;
}

.join .item:not(:last-child) {
  margin-right: 10px;
}

.join .link {
  display: block;
  height: 44px;
}

.join .icon {
  fill: var(--acent-text-color);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join .icon:hover,
.join .icon:focus {
  background-color: var(--accent-color);
}

.subscribe .button {
  display: flex;
  align-items: center;
}

.subscribe .icon {
  margin-left: 10px;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
